@using Game_Web_Service.Models;
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h3>
            Name: 
            @Model.Name
            <br />
            Title: 
            @Model.Title
            <br />
            Id: 
            @Model.Id
            <br />
            Score: 
            @Model.Score
            <br />
            Level: 
            @Model.Level
            <br />
            Currence: 
            @Model.Currence
            <br />
            K/D: 
            @Model.KD
            <br />
            Password: 
            @Model.Password
            <br />
            Email: 
            @Model.Email
            <br />
        </h3>
    </div>
</body>
</html>